.header-container {
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

.logo-text {
    font-size: 'Brush Script MT';
    width: 200px;
    margin: 0px;
}

.menu-list {
    list-style: none;
    padding-left: 0%;
    display: flex;
    gap: 20px;
}

.menu-list li {
    font-weight: bold;
    cursor: pointer;
}