.banner-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-text-conatiner {
    background-color: #bef7ef;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.banner-button {
    background-color: #e6e6e6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 10px;
}

.banner-img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}